<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.andrios.bodycards"
      android:versionCode="6"
      android:versionName="1.1.1">
      <uses-sdk android:minSdkVersion="4" />
      
      <uses-permission android:name="android.permission.INTERNET"/>
  	  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      
    <application android:icon="@drawable/icn" android:label="Body Cards">
  
        <activity android:name="MainActivity"
                  android:label="Body Cards"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
              
   
        <activity android:name="DeckOfCardsWorkoutActivity" android:screenOrientation="portrait" />
        <activity android:name="NewDeckOfCardsWorkoutActivity" android:screenOrientation="portrait" />
        <activity android:name="FinishedActivity" android:screenOrientation="portrait" />
        <activity android:name="History" android:screenOrientation="portrait" />
        <activity android:name="NewProfileActivity" android:screenOrientation="portrait" />
        <activity android:name="NewWorkoutActivity" android:screenOrientation="portrait" />
        <activity android:name="ViewProfileActivity" android:screenOrientation="portrait" />
        <activity android:name="ExerciseListActivity" android:screenOrientation="portrait" />
        <activity android:name="DisplayProfileActivity" android:screenOrientation="portrait" />
        <activity android:name="CreateExerciseActivity" android:screenOrientation="portrait" />
        <activity android:name="WorkoutCardActivity" android:screenOrientation="portrait" />
        <activity android:name="DisplayExerciseActivity" android:screenOrientation="portrait" />
        <activity android:name="DisplayWorkoutActivity" android:screenOrientation="portrait" />
        <activity android:name="HelpActivity" android:screenOrientation="portrait" />
        <activity android:name="NewRandomWorkoutActivity" android:screenOrientation="portrait" />
   		<activity android:name="MainHelpActivity" android:screenOrientation="portrait" />
   		<activity android:name="HelpGenericActivity" android:screenOrientation="portrait" />
		<activity android:name="StartDeckActivity" android:screenOrientation="portrait" />
		<activity android:name="ChallengeWidgetConfigure" android:screenOrientation="portrait">
			<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
    		</intent-filter>
		</activity>
 
     <!-- Broadcast Receiver that will process AppWidget updates -->
	<receiver 
		android:name="ChallengeWidgetProvider"> 
		<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />  
		</intent-filter> 
		<meta-data 	android:name="android.appwidget.provider"
					android:resource="@xml/challenge_widget_info" />
	</receiver>
 
   
    </application>
    

	

</manifest> 